.img-perfil {
    height: 500px;
    border-radius: 50%;
}

.content-perfil {
    text-align: center;
}

.name {
    font-family: "Latin Modern Roman";
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;
}
.description {
    font-family: "Latin Modern Roman";
    font-style: oblique;
    font-size: 20px;
}